body {
  font-family: "Lato", sans-serif;
}
footer{
    background-color: #818181;
}
header{
}
#btn-wrapper{
  box-shadow: 1px 1px #000000;
  background: rgb(184, 184, 184);
}
#wrapper{
  display:flex ;
}
main{
  flex:9;
  max-height: 100vh;
  overflow-y: auto;
  padding: 30px;
}
.sidenav {
  height:100vh;
  flex:0 1 0%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.closebtn{
    color: #818181;
    cursor: pointer;
}
.sidenav  > a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav > a:hover {
  color: #f1f1f1;
}

.sidenav > .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
a{
    font-family: 'Titillium Web', sans-serif;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
img{
  width:100%;
}